<!-- Sidebar -->
<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/">Home</a>
  <a href="/about">About Me</a>
  <a href="javascript:void(0)" onclick="toggleResearchDropdown()">Research</a>
  <div id="researchDropdown" class="dropdown-content">
    <a href="/research/evaporation-driven-self-assembly">Evaporation Driven Self-Assembly</a>
    <a href="/research/structure-rheology-colloids">Structure and Rheology of Colloids</a>
    <a href="/research/desiccation-cracks">Desiccation Cracks and External Fields</a>
    <a href="/research/hetero-aggregation">Hetero-Aggregation in Colloidal Systems</a>
    <a href="/research/new-materials">New Materials and Particles</a>
    <a href="/research/environmental-interfaces">Biological and Environmental Interfaces</a>
    <a href="/research/image-processing">Image Processing and Analysis</a>
    <a href="/research/emulsion-fuels">Emulsion Fuels</a>    
  </div>
  <a href="/publications">Publications</a>
  <a href="/projects">Projects</a>
  <a href="/teaching">Teaching</a>
  <a href="/people">People</a>
  <a href="/news">News</a>
</div>
