<%- include('partials/head', { title: 'Home - Dr. Basavaraj M. Gurappa' }) %>
<link rel="stylesheet" href="/css/home.css">
<body>
  <%- include('partials/nav') %>
  <%- include('partials/header') %>

  <!-- Main Content -->
  <div class="container-fluid main-content">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-3 left-column">
        <div class="name-box">Dr. Madivala G. Basavaraj</div>
        <img src="/images/profile.png" alt="Dr. Basavaraj" class="profile-img img-fluid mb-3">
        <div class="info-box">
          <h2>Professor</h2>
          <p>Department of Chemical Engineering</p>
          <p>Indian Institute of Technology Madras,</p>
          <p>Chennai 600036</p>
          <p>HSB151, 044-22574164</p>
          <p><a href="mailto:basa@iitm.ac.in" class="profile-link">basa@iitm.ac.in</a></p>
          <div class="profile-links">
            <a href="https://scholar.google.com/citations?hl=en&user=iJI-8rkAAAAJ" class="profile-link">Google Scholar</a>
            <a href="https://www.researchgate.net/profile/Basavaraja-Madivala-Gurappa" class="profile-link">ResearchGate</a>
            <a href="https://iitm.irins.org/profile/61912" class="profile-link">IIT IRINS Profile</a>
            <a href="https://che.iitm.ac.in/basa/" class="profile-link">IITM Homepage</a>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-9 right-column">
        <div class="content-box">
          <h1>Welcome to Dr. Madivala G. Basavaraj's Page</h1>
          <h2>Biography</h2>
          <p>Madivala G. Basavaraj is a professor in the <a href="https://che.iitm.ac.in/" target="_blank">Department of Chemical Engineering</a> at the <a href="https://www.iitm.ac.in/" target="_blank">Indian Institute of Technology Madras</a>. He obtained his Ph.D. from <a href="https://www.kuleuven.be/english/kuleuven" target="_blank">KU Leuven, Belgium</a> and carried out postdoctoral research at the <a href="https://www.udel.edu/" target="_blank">University of Delaware, USA</a>. His research interests include particles at interfaces, colloid self-assembly, desiccation cracks, colloidal gels, emulsion fuels, Pickering emulsions, and cellulose–ionic liquid solutions.</p>

          <h2>Research Interests</h2>
          <ul>
            <li><a href="/research/evaporation-driven-self-assembly">Evaporation Driven Self-Assembly</a></li>
            <li><a href="/research/structure-rheology-colloids">Structure and Rheology of Colloids</a></li>
            <li><a href="/research/desiccation-cracks">Desiccation Cracks and External Fields</a></li>
            <li><a href="/research/hetero-aggregation">Hetero-Aggregation in Colloidal Systems</a></li>
            <li><a href="/research/new-materials">New Materials and Particles</a></li>
            <li><a href="/research/environmental-interfaces">Biological and Environmental Interfaces</a></li>
            <li><a href="/research/image-processing">Image Processing and Analysis</a></li>
            <li><a href="/research/emulsion-fuels">Emulsion Fuels</a></li>
          </ul>

          <h2>Approach</h2>
          <p>My research employs a combination of experimental, theoretical, and computational techniques. I collaborate with researchers from various disciplines, making our work highly interdisciplinary.</p>

          <h2>Opportunities</h2>
          <p>I am always looking for motivated students and postdocs to join my research group. If you are interested in working with us, please contact me at <a href="mailto:basa@iitm.ac.in" class="email-link">basa@iitm.ac.in</a></p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/scripts/common.js"></script>
</body>
</html>
